DATABASE="mongodb://127.0.0.1:27017/ubinarys?directConnection=true&serverSelectionTimeoutMS=10000"
JWT_SECRET="CHANGE_ME_TO_A_RANDOM_SECRET_AT_LEAST_32_CHARACTERS"
NODE_ENV="development"
PORT="8888"
FRONTEND_URL="http://localhost:3000"
ALLOWED_ORIGINS="http://localhost:3000,http://127.0.0.1:3000"
PUBLIC_SERVER_FILE="http://localhost:8888/"
ENABLE_DEFAULT_ADMIN="true"
